<h1>Room of chat</h1>

<p>Hello <%= current_user.email %></p>
<p>(<%= link_to 'Logout', destroy_user_session_path, method: :delete %>)</p>

<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>Type here:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>
